* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #492c44, #354558);
    text-align: center;
}

.container {
    height: 700px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}


/* SEZIONE RACCOLTA DATI */
h1 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px 0;
}

.insert-form {
    width: 800px;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
}

.insert-boxes-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
}

.insert-box {
    display:flex;
    flex-direction: column;
    color: purple;
    font-size: 15px;
}

.insert-box label {
    padding-bottom: 10px;
}

.insert-box input, select {
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
}

.insert-form-buttons button {
    font-size: 17px;
    background-color: #lightgrey;
    color: purple;
    padding: 5px;
    margin: 0 10px;
    border-radius: 5px;
}

/* SEZIONE TICKET */
h2 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.ticket {
    width: 800px;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: white;
    padding: 20px 20px;
}

.ticket h3 {
    text-transform: uppercase;
    text-align: left;
}

.ticket table {
    border: 1px solid black;
    border-collapse: collapse;
}

.ticket table th {
    padding-top: 15px;
}

.ticket table td {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ticket table th:first-of-type {
    background-color: grey;
    text-align:left;
    padding-left: 20px;
}

.ticket table td:first-of-type {
    background-color: grey;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}
